
<% if current_user.organizer %>
  <p>You are an organizer</p>


  <% if @organizer.nil?  %>
    <p>You do not have any Events</p>
  <% else %>
    <% @events = @organizer.events %>
      <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Tickets selling?</th>
              <th>Price CHF</th>
              <th>To sell</th>
              <th>Sold</th>
              <th></th>

            </tr>
          </thead>
          <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= link_to event.event_name, event_path(event) %> </td>
              <td><%= event.date.strftime("%d.%m.%Y")%> </td>
              <td><%= event.tickets.empty? ? "No" : "Yes" %> </td>
              <td><%= event.tickets.last ? event.tickets.last.ticket_price : "-" %> </td>
              <td><%= event.tickets.last ? event.tickets.last.amount_tickets_to_sell : "-" %>
              <td><%= event.tickets.last ? event.tickets.last.amount_tickets_sold : "-" %></td>
              <td></td>
              <td>
                <%# if event.tickets.empty?%>
                  <%#=link_to "Add Sponti ticket", new_event_ticket_path(event), class: "btn btn-primary btn-sm" %>
                <%# else %>
                  <%#=link_to "Edit Sponti ticket", edit_event_ticket_path(event), class: "btn btn-primary btn-sm" %>
                <%# end %>
              </td>
            </tr>
          <%end%>
          </tbody>
  <% end %>





<% else %>
  <p>Tickets you bought</p>
  <%@purchases.each do |purchase|%>
  <p> <%=purchase.amount_tickets_purchased%> x <%=purchase.ticket.event.event_name%></p>
  <br>
  <%end%>

<% end %>

