<div class="container fullscreen">
  <% if current_user.organizer %>
    <p>You are an organizer</p>
    <p><%= @organizer.organizer_name %></p>
    <p><%= @organizer.organizer_address_street%></p>
    <p><%= @organizer.organizer_address_postalcode%></p>
    <p><%= @organizer.organizer_address_city%></p>
    <%= link_to "Edit Address", edit_organizer_path(@organizer)%>
    <br>
    <%= link_to "Edit Email and Password", edit_user_registration_path(current_user)%>
  <br>
  <br>


    <% if @organizer.nil?  %>
      <p>You do not have any Events</p>
    <% else %>
      <% @events = @organizer.events %>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Tickets selling?</th>
              <th>Price CHF</th>
              <th>To sell</th>
              <th>Sold</th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            <% @events.each do |event| %>
              <tr>
                <td><%= link_to event.event_name, event_path(event) %> </td>
                <td><%= event.date.strftime("%d.%m.%Y")%> </td>
                <td><%= event.tickets.empty? ? "No" : "Yes" %> </td>
                <td><%= event.tickets.last ? event.tickets.last.ticket_price : "-" %> </td>
                <td><%= event.tickets.last ? event.tickets.last.amount_tickets_to_sell : "-" %>
                <td><%= event.tickets.last ? event.tickets.last.amount_tickets_sold : "-" %></td>
                <td></td>
                <td>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
    <% end %>



  <% else %>
    <p><%= @user.email %></p>
    <%= link_to "Edit Email and Password", edit_user_registration_path(current_user)%>
    <br>
    <br>

    <p>Tickets you bought</p>
    <%@purchases.each do |purchase|%>
    <p> <%=purchase.amount_tickets_purchased%> x <%=purchase.ticket.event.event_name%></p>
    <br>
    <%end%>

  <% end %>
</div>
