<div class="container fullscreen">
  <h1>Sponti Tickets of Today</h1>



  <div class="row">
    <h4> Todays Tickets with a special Sponti Price</h4>
    <% events = @events.select {|event| event.tickets.count > 0 && event.date.today?} %>

    <%if events.empty?%>
      <p>There are no Events today with sponti Tickets. Check out Events without sponti Tickets </p>
    <% else %>
      <% events.each do |event| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=event.photo%>);">
            <div class="card-category"> CHF <%= event.tickets.last.price %>
            </div>
            <div class="card-description">
              <h2><%=event.event_name%></h2>
              <!-- <p><%=event.organizer.organizer_name%></p> -->
            </div>
            <%=link_to "", event_path(event), class:"card-link" %>
          </div>


          <div class="detail-box">

              <div class="calendar-box">
                <div class="calendar-month">
                  <p class="no-margin"><%=event.date.strftime("%B").first(3)%></p>
                </div>
                <div class="calendar-day">
                  <p class="no-margin"><%=event.date.day%></p>
                </div>
              </div>


              <div class="event-local-box">
                <div class="upercase line">
                <p class="bold"><%= event.organizer.organizer_name%></p>
                </div>
                <div class="">
                  <i class="fa fa-clock-o color-grey" style="padding-right: 2px;">
                    <span><%= event.event_time.strftime("%H")%>h</span>
                  </i>
                  <i class="fa fa-map-marker color-grey" style="padding: 0 2px 0 4px;">
                      <span><%= event.event_address_city%></span>
                  </i>
                </div>
              </div>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>


  <h4> Todays Events without a special Sponti Ticket</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Organizer</th>
            <th>Where</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <% events = @events.select {|event| event.date.today? && event.tickets.empty?} %>
          <% events.each  do |event| %>
            <tr>
              <td><%= event.event_name%> </td>
              <td><%= event.event_category%> </td>
              <td><%= event.organizer.organizer_name%> </td>
              <td><%= event.event_address_city%> </td>
              <td><%= event.event_time.strftime("%H:%M")%> </td>
            </tr>
          <%end%>
        </tbody>
      </table>

</div>
