<div class="filter-wrapper home-navbar-margin">

  <form action="<%=events_path%>" class="seach-form search">
        <input type="text" name = "search[name]" id="search_name" class="search-input" placeholder = "Search for Title" value= <%=@name%>></input>
        <input placeholder = "Search for Date" type="date" name = "search[date]" id="search_date" class="search-input"  value=<%=@date%>></input>
        <select name="search[category]" id="search_category" class="search-input" type="text" style="text-align: center;">
            <option value=> <%=@category || "Search for Category" %> </option>
            <%@categories.each do |category|%>
              <option><%=category%></option>
            <%end%>
        </select>
        <button class="btn btn-success" style="height: 42px;">Find</button>
      </form>

</div>

<div class="container fullscreen">
  <div class="row">




    <h2 style="padding-left: 20px">Events according your search criteria</h2>
    <h3 style="padding-left: 20px"> <%=@name%> <%=@date%> <%=@category%></h3>



    <%if @events.empty?%>
      <p>There are no search results </p>
    <% else %>
      <% @events.each do |event| %>
      <!-- **** to determine the picture that will be shown *** -->
        <%if event.photo?%>
          <%photo = event.photo%>
        <%else%>
          <%if event.event_category == "Concert"%>
            <%photo = "band.jpg"%>
          <%elsif event.event_category == "Theater"%>
            <%photo = "play.jpg"%>
          <%else%>
            <%photo = "opera.jpg"%>
          <%end%>
        <%end%>
      <!-- ****  *** -->

        <div class="col-xs-12 col-sm-4">

          <div class="card">
            <%= image_tag(photo, height: "100%", width: "100%")  %>
            <div class="card-category">
              <% if event.tickets.empty?%>
                No Tix for sale
              <% else %>
                CHF <%= event.tickets.last.price %>
              <% end %>
            </div>
            <div class="card-description">
              <h2 class="white"><%=event.event_name%></h2>

            </div>
            <%=link_to "", event_path(event), class:"card-link" %>
          </div>


          <div class="detail-box">
            <div class="calendar-box">
              <div class="calendar-month">
                <p class="no-margin white"><%=event.date.strftime("%B").first(3)%></p>
              </div>
              <div class="calendar-day">
                <p style="margin: 5px 0px 0px 0px;"><%=event.date.strftime("%02d")%></p>
              </div>
            </div>

            <div class="event-local-box">
              <div class="upercase ">
              <p class="bold" style="margin-bottom: 0;"><%= event.organizer.organizer_name%></p>
              </div>
              <div class="">
                <i class="fa fa-clock-o color-grey" style="padding-right: 2px;">
                  <span><%= event.event_time.strftime("%H")%>h</span>
                </i>
                <i class="fa fa-map-marker color-grey" style="padding: 0 2px 0 4px;">
                    <span><%= event.event_address_city%></span>
                </i>
              </div>
            </div>

          </div>

        </div>
      <% end %>
    <% end %>
  </div>


</div>
