<%=content_for(:title) do %>
  Sponticus - Events >
<% end %>

<div class="filter-wrapper home-navbar-margin">
  <div class="container">
    <div class="search-form hidden-xs filter">
      <%= render 'pages/filter'%>
    </div>

      <p class="hidden-md hidden-sm hidden-lg open-filter"> <i class="fa fa-search-plus" aria-hidden="true"></i> Filter your results</p>
      <p class="hidden-xs hidden-md hidden-sm hidden-lg close-filter" style="padding-top: 9px;"> <i class="fa fa-search-minus" aria-hidden="true"></i> Close filter </p>

      <% content_for :after_js do %>

      <script type="text/javascript">
          $(document).ready(function() {
            $('.open-filter').on('click', function(event) {
              $('.filter').removeClass("hidden-xs");
              $('.open-filter').addClass("hidden-xs");
              $('.close-filter').removeClass("hidden-xs");
            });

            $('.close-filter').on('click', function(event) {
              $('.close-filter').addClass("hidden-xs");
              $('.open-filter').removeClass("hidden-xs");
              $('.filter').addClass("hidden-xs");
            });
          });
      </script>

      <%end%>
  </div>
</div>

<div class="container fullscreen">
  <div class="row">
    <%if @events.empty?%>
      <p>There are no search results </p>
    <% else %>
      <% @events.each do |event| %>
      <!-- **** to determine the picture that will be shown *** -->
        <%if event.photo?%>
          <%photo = event.photo%>
        <%else%>
          <%if event.event_category == "Concert"%>
            <%photo = "band.jpg"%>
          <%elsif event.event_category == "Theater"%>
            <%photo = "play.jpg"%>
          <%else%>
            <%photo = "opera.jpg"%>
          <%end%>
        <%end%>
      <!-- ****  *** -->

        <div class="col-xs-12 col-sm-4">

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=asset_path(photo)%>);">
            <div class="card-category">
              <% if event.tickets.empty?%>
                No Tix for sale
              <% else %>
                <%= humanized_money_with_symbol(event.tickets.last.price) %>
              <% end %>
            </div>
            <div class="card-description">
              <h2 class="white"><%=event.event_name%></h2>

            </div>
            <%=link_to "", event_path(event), class:"card-link" %>
          </div>

          <div class="detail-box">
            <div class="calendar-box">
              <div class="calendar-month">
                <p class="no-margin white"><%=event.date.strftime("%B").first(3)%></p>
              </div>
              <div class="calendar-day">
                <p style="margin: 5px 0px 0px 0px;"><%=event.date.strftime("%02d")%></p>
              </div>
            </div>

            <div class="event-local-box">
              <div class="upercase ">
              <p class="bold" style="margin-bottom: 0;"><%= event.organizer.organizer_name%></p>
              </div>
              <div class="">
                <i class="fa fa-clock-o color-grey" style="padding-right: 2px;">
                  <span><%= event.event_time.strftime("%H")%>h</span>
                </i>
                <i class="fa fa-map-marker color-grey" style="padding: 0 2px 0 4px;">
                    <span><%= event.event_address_city%></span>
                </i>
              </div>
            </div>

          </div>

        </div>
      <% end %>
    <% end %>

  </div>
  <div>
   <%= paginate @events, :theme => 'twitter-bootstrap-3'%>
  </div>

</div>
