
<%=content_for(:title) do %>
  Sponticus - <%=@event.event_name%>
<% end %>

    <div class="container home-navbar-margin">
      <div class="row">
        <div class="box">

        <!-- ********************** -->
          <div class="box-top">
            <div class="col-xs-12 col-sm-8 no-padding">
              <div class="box-pic">
                <%if @event.photo?%>
                  <%= cl_image_tag @event.photo, crop: :fit %>
                <%else%>
                  <% if @event.event_category == "Concert" %>
                    <%= image_tag("band.jpg")%>
                  <% elsif @event.event_category == "Theater" %>
                    <%= image_tag("play.jpg")%>
                  <% else%>
                    <%= image_tag("opera.jpg")%>
                  <% end %>
                <%end%>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 no-padding">
              <div class="box-top-info">
                <p class="no-margin"><%=@event.date.strftime("%B").first(3)%></p>
                <p class="hightspace"><%=@event.date.strftime("%02d")%></p>
                <h2 style="margin-bottom: 0px; color: black;"><%=@event.event_name%></h2>
                <h5 style="margin: 0px 0px 30px 0px;"><%=@event.organizer.organizer_name%></h5>
                <div>
                    <% if policy(@event).edit? %>
                      <p><%= link_to "Edit Event", edit_event_path(@event) %></p>
                      <p type="button" data-toggle="modal" data-target="#deleteEventModal"> Delete Event</p>
                      <% if @event.tickets.empty?%>
                        <p> <%=link_to "Add Ticket", new_event_ticket_path(@event) %> </p>
                      <% else %>
                        <p> <%=link_to "Edit Ticket", edit_event_ticket_path(@event) %> </p>
                        <p> <%=link_to "Mark visitors", event_ticket_path(@event, @event.tickets.last) %> </p>
                      <% end %>
                    <% end %>

                </div>
              </div>
            </div>
          </div>

          <!-- ******************** -->
          <div class="box-buy">
            <div class="col-xs-12 col-sm-8">

              <div style="padding-top: 10px;">
                <% if !@event.tickets.empty?%>
                  <p style="margin-bottom: 0px;">CHF <%=@event.tickets.last.price%></p>
                  <p style="margin-top: 0px;"> <%= @event.tickets.empty? ? "" : " #{@event.tickets.last.amount_tickets_to_sell - @event.tickets.last.amount_tickets_sold } Tickets left"  %> </p>
                <% end %>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4">
              <div class="box-buy-process">
                <% if @event.tickets.empty?%>
                  <p>No Tix for sale on Sponticus  </p>
                <% else %>
                  <% if @event.tickets.last.amount_tickets_spare > 0 %>
                    <button type="button" data-toggle="modal" data-target="#buyEventModal" class="btn-primary" style= "width: 100%; margin-top: 5px;"> Purchase</button>


                  <% else %>
                    <p> No Sponti Tickets left </p>
                  <%end%>
                <% end %>

              </div>
            </div>
          </div>
          <!-- ******************** -->
          <div class="box-info">
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <div class="box-description">
                  <p style="font-weight: bold; padding-top: 5px;">Category</p>
                  <p><%=@event.event_category%></p>

                  <p style="font-weight: bold; padding-top: 5px;">Description</p>
                  <p><%=@event.event_description%></p>

                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="box-details">
                  <div class="box-time">
                    <p style="font-weight: bold; padding-top: 5px;">Date and Time</p>
                    <p><%=@event.date.strftime("%d %B %Y")%>, <%= @event.event_time.strftime("%H")%>h</p>

                  </div>
                  <div class="box-location">
                    <p style="font-weight: bold; padding-top: 5px;">Location</p>
                    <p class="no-margin"><%= @event.event_address_title%></p>
                    <p class="no-margin"><%= @event.event_address_street%></p>
                    <p class="no-margin"><%= @event.event_address_postalcode%> <%= @event.event_address_city%> </p>
                    <p class="no-margin"><%= link_to @event.event_link, "#{@event.event_link}", :target => "_blank"%> </p>
                  </div>



                </div>
              </div>
            </div>
          </div>


          <%if @event.latitude.present?%>
            <div id="map"></div>
          <%end%>

           <% content_for(:after_js) do %>
              <%= javascript_tag do %>
                $(document).ready(function() {
                  var handler = Gmaps.build('Google');
                  handler.buildMap({ internal: { id: 'map' } }, function() {
                    markers = handler.addMarkers(<%= raw @hash.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds();
                    if (markers.length == 0) {
                      handler.getMap().setZoom(2);
                    } else if (markers.length == 1) {
                      handler.getMap().setZoom(14);
                    }
                  });
                });
              <% end %>
            <% end %>

        </div> <!-- box -->
      </div> <!-- row -->
    </div> <!-- container -->

          <!-- MODAL DELETE -->
          <div id="deleteEventModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"> Delete Event <%= @event.event_name %></h4>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete this event?</p>
                  <% if !(@event.tickets.empty?)%>
                    <%if !(@event.tickets.last.orders.empty?)%>
                      <p>You have already sold <%=@event.tickets.last.orders.count%> tickets for this event. You still have to provide service to those customers</p>
                    <%end%>
                  <% end %>
                  <%= link_to "Delete Event", deactivate_event_path(@event), class: "btn btn-danger", "data-method" => :patch %>
                </div>


                </div>
              </div>
            </div>
          </div>
          <!-- END MODAL DELETE -->

          <!-- MODAL BUY -->
          <div id="buyEventModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"> How many tickets would you like to buy for "<%= @event.event_name %> "?</h4>
                </div>
                <div class="modal-body">
                    <%= form_tag orders_path do %>
                      <span><%= number_field("order_quantity", @order.quantity, in: 1..@ticket.amount_tickets_spare, value: 2, style: "text-align: right") %> Tickets</span>
                      <%= hidden_field_tag 'ticket_id', @ticket.id %>
                      <%= submit_tag 'Purchase', class: 'btn btn-primary', style: "width: 100%; margin-top: 5px;"%>
                    <% end %>
                </div>

              </div>
            </div>
          </div>
          <!-- END MODAL BUY -->
