<!-- banner -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(242,242,242,0.3) 0%, rgba(242,242,242,0.3) 50%), url('https://static.pexels.com/photos/109669/pexels-photo-109669.jpeg');">
  <div>

    <h1>Get Sponti!</h1>
    <h2> Get Cultural!</h2>
    <br>


        <%= link_to "See Todays Events", events_path, class: "btn btn-success"%>
      <!-- </div> -->
   </form>
  </div>
</div>

<!-- cards of todays events -->

<div class="container">
  <div class="row">
    <h4> Todays Events with a special Sponti Tickets</h4>
    <% events = Event.all %>
    <% events = events.select {|event| event.tickets.count > 0} %>
    <% events.each do |event| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=event.photo%>);">
          <div class="card-category"> CHF <%= event.tickets.last.ticket_price %> </div>
          <div class="card-description">
            <h2><%=event.event_name%></h2>
            <p><%=event.organizer.organizer_name%></p>
          </div>
          <%=link_to "", event_path(event), class:"card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
