<div class="container fullscreen">
  <div class="row">
    <h1><%=@event.event_name%></h1>

    <h2>Visitors</h2>

    <table class= "table td-small-font">
      <thead>
        <tr>
          <th>Visitor Email </th>
          <th>Bought Tickets </th>
          <th>Arrived Visitors </th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <% @orders.each do |order|%>
          <tr>
            <td class="td-small-font"><%= order.user.email%></td>
            <td class="td-small-width"><%=order.quantity%></td>


            <!-- I took the patch method out of the form... maybe needed but seems to work without it -->
            <%= simple_form_for [order], remote: true, html: {class: "form-inline arrived"} do |f| %>
              <td><%= f.input :arrived, collection: 0..order.quantity, input_html: {onchange: "this.form.submit();"}%></td>
              <td><%#= f.submit "Save", class: "btn btn-primary btn-sm"%></td>
            <% end %>


          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
